* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body {
  /* position: relative; */
  background-color: #1b3333;
  background-image: linear-gradient(90deg, #3a6f70 0%, #836c3b 100%);
  /* display: grid; */
}
.h1 {
    font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  /* letter-spacing: 3px; */
  color: #3f2727;
  height: 90px;
  width: 900px;
  padding-top: 50px;
  margin: auto;
  text-shadow: 2px 5px 10px rgba(230, 4, 4, 0.3);
  text-align: center;
}
.nav1 a {
  text-decoration: none;
  color: white;
  background-color: rgb(19, 14, 14);
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  margin: auto;
  margin-top: 80px;
  display: inline-block;
  box-shadow: 2px 5px 5px rgba(189, 174, 174, 0.5);

}
.p0{
  text-align: center;
  margin-top: 70px;
 font-size: 40px;
 font-family: 'Diplomata', cursive;
}
.nav1{
    text-align: center;
}
.nav1 a:hover {
  opacity: 0.5; /** Saydamlik verdik*/
  color: rgb(209, 19, 19);
  padding: 1rem;
}
.project-h3 {
  font-family: "Fredoka One", cursive;
  color: #d38e51;

}
.project-h3{
  text-align: center;
  margin-top: 60px;
  font-size: xx-large;
}

.box1 {
  border-radius: 8px;
  box-shadow: rgba(36, 34, 34, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #232f6b;
  background-image: linear-gradient(
    43deg,
    #234234 0%,
    #21492d 46%,
    #396e58 100%
  );
  height: 300px;
  width: 1000px;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 20px;
}
.box1 img {
  height: 250px;
  width: 350px;
  padding: 5px 5px 5px 5px;
  margin-top: 17px;
  margin-left: 10px;
  float: left;
}
.p1 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  color: #ffffff;
  text-indent: 16px;
}
.box1 .button1 {
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(22, 16, 16);
float: right;
margin-right: 40px;

}
.box1 .button1 a{
    text-decoration: none;
color: white;

}
.box2 {
  border-radius: 8px;
  box-shadow: rgba(36, 34, 34, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #234234 0%,
    #21492d 46%,
    #396e58 100%
  );
  height: 300px;
  width: 1000px;
  margin-left: 50px;
  font-size: 20px;
 
}
.box2 img {
  height: 275px;
  width: 400px;
  padding: 5px 5px 5px 5px;
  margin-top: 17px;
  margin-left: 10px;
  float: left;
}
.box2 .button1 {
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(22, 16, 16);
  margin-right: 40px;
 float: right;
  }
  .box2 .button1 a{
      text-decoration: none;
  color: white;
  
  }
.button1:hover {
    
  padding: 2rem;
  
}
img:hover {
  width: 500px;
  height: 300px;
}
.p1{
padding: 20px;
}
footer div a:hover {
  color: rgb(20, 220, 80);
}
.fa-brands:hover {
  color: rgb(194, 133, 19);
}
.contact-containar{
  text-align: center;
}
footer a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 30px;
  display: inline-block;
  margin-top: 40px;
}
.nav2 a {
 color: #ebbb91;
  padding: 1rem;
}
h2 {
  font-size: 70px;
  font-family: "Fredoka One", cursive;
  padding: 5pc;
}
.h4{
  font-family: "Fredoka One", cursive;
  padding: 30px;
}
#username,
#email {
  background-color: #0a4e1f;
  display: inline-block;
  width: 850px;
  height: 60px;
  font-size: 32px;
  border-radius: 4px;
}
#message {
  background-color: #0a4e1f;
  width: 850px;
  height: 200px;
  font-size: 32px;
  border: 2px solid rgb(243, 142, 11);
  border-radius: 4px;
}

input {
  border: 2px solid rgb(243, 142, 11);
}

input:focus {
  background-color: rgb(238, 207, 167);
  color: rgb(255, 102, 0);
  border: 4px dashed rgb(223, 111, 36);
  outline: none;
}
#message:focus {
  background-color: rgb(238, 207, 167);
  color: rgb(255, 102, 0);
  border: 4px dashed rgb(223, 111, 36);
  outline: none;
}
#send {
  background-color: rgb(130, 185, 42);
  display: inline-block;
  width: 850px;
  height: 60px;
  font-size: 32px;
  border: none;
  border-radius: 4px;
}
#send:hover {
  color: rgb(255, 17, 0);
  content: "💸🎈";
}
.send-containar{
  text-align: center;
}
h3 {
  font-size: 40px;
  margin-top: 30px;
}
#top {
  display: inline-block;
  text-align: center;
  background-color: rgb(130, 185, 42);
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  font-size: 30px;
  text-decoration: none;
}
#top-home {
  text-align: right;
  margin-bottom: 50px;
}
